*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.61)),url(bg.jpeg);
    /* background-image: url(bg.jpeg); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.navigation{
    position: relative;
    background: lightblue;
    width: 100%;
    height: 50px;
}
.container{
    color: white;
    position: absolute;
    text-align: left;
    top: 0;
    /* position: relative; */
    margin: 200px 100px 0;
}
.container h1{
    font-size: 45px;
}
.container p{
    font-size: 20px;
    margin: 5px auto;
}
.container button{
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: lightblue;
    color: black;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}
.container button:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* .counter{
    margin: 10px auto;
    padding: 80px;
    width: 800px;
    justify-content: center;
    background: lightblue;
    position: relative;
}
.counter p{
    float: left;
    padding: 20px;
}
.board,
.gujcet
{
    float: left;
}
.board input{
    display: block;
}
.gujcet input{
    display: block;
} */

.counter{
    position: relative;
    margin: 50px auto;
    padding: 50px;
    width: 900px;
    text-align: center;
    background: lightblue;
    display: flex;
    box-shadow: 0px 0px 70px -12px #37bde985;
    border-radius: 10px;
    z-index: 10;
}
.counter #note{
    margin: 2% auto 0;
    font-size: 20px;
}
#second button{
    position: relative;
    top: 50%;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,-20%);
    margin: 0 auto;
    padding: 5px 40px;
    z-index: 20;
    font-size: 16px;
    background: lightblue;
    color: black;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}
.counter p{
    margin: 3% auto;
    font-size: 18px;
    /* add animation */
}
.counter input{
    border: none;
    margin: 4px auto;
    padding: 7px 60px;
    border-radius: 3px;
}

@media (max-width:400px){
    .container{
        margin: 180px 20px;
    }
    .container h1{
        font-size: 35px;
    }
    .container p{
        font-size: 14px;
        margin: 5px auto;
    }
    .counter{
        width: 50%;
        display: block;
    }
    .counter p{
        margin: 10px auto;
    }
    .counter input{
        border: none;
        margin: 2px auto;
        padding: 7px;
    }
    .counter #note{
        margin: 20px auto 0;
    }
    
}